.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  margin: auto;
  background-color: #f1f3f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.home-nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
  color: red;
}

.item-title {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
  color: #333;
}

.container-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  margin: 10px;
  height: 50px;
}

.mat-card-title {
  color: red;
}

.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.container-endereco {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
